<mat-expansion-panel> 
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{name}}
    </mat-panel-title>
    <mat-panel-description>
      Add channels to your floor
    </mat-panel-description>
  </mat-expansion-panel-header>
  <app-channel-panel *ngFor="let channel of channels"
    [name]="channel.name"
    [default]="channel.default">
  </app-channel-panel>
  <button mat-icon-button aria-label="Add Channel" (click)="addChannel()">
    <mat-icon>control_point</mat-icon>
  </button>
</mat-expansion-panel>