<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{floor.name}}
    </mat-panel-title>
    <mat-panel-description>
      Add channels to the floor
    </mat-panel-description>
    <button mat-icon-button aria-label="Delete Floor" matTooltip="Delete floor" (click)="deleteFloor()">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-expansion-panel-header>
  <mat-form-field>
    <mat-label>Floor Name</mat-label>
    <input matInput value="{{floor.name}}" ngModel pattern='^[^\-]+$' (blur)="onNameChange($event.target.value)">
  </mat-form-field>
  <app-channel-panel *ngFor="let channel of floor.channels"
    [channel]="channel"
    (default_emitter)="onChange($event)"
    (delete_emitter)="deleteChannel($event)">
  </app-channel-panel>
  <button mat-icon-button aria-label="Add Channel" matTooltip="Add Channel"(click)="addChannel()">
    <mat-icon>control_point</mat-icon> Add Channel
  </button>
</mat-expansion-panel>
