<ng-container id="outer-component" class="container">
  <div class="row">
    <div class="col-sm-3 component-column">
      <!-- Wait for asynchronous calls to complete -->
      <div *ngIf="nameObservable | async as chanReqNames; else loading">
        <ng-container *ngIf="chanReqNames.size > 0; else nonames">
          <ng-container *ngFor="let channel of chanReqNames | keyvalue">
            <div class="row btnrow">
              <button (click)="channelRequestSelected($event)" value="{{ channel.value }}" color="accent" mat-raised-button>
                {{ channel.key }}
              </button>
            </div>
          </ng-container>
        </ng-container>
        <ng-template #nonames>
          <div class="row btnrow">
            <p>You do not have any channel requests</p>
          </div>
        </ng-template>
      </div>
      <ng-template #loading>
        <div class="row btnrow">
          <p>Retrieving list of requests...</p>
        </div>
      </ng-template>
    </div>
    <mat-divider [vertical]="true"></mat-divider>

    <!-- Information block -->
    <div id="channel-info" class="col-sm component-column">
      <mat-card-title *ngIf="!channelIsBeingViewed">Select a channel request to view</mat-card-title>
      <mat-card *ngIf="channelIsBeingViewed">
        <h1>{{ channelDataBeingViewed.title }}</h1>
        <br>
        <mat-card-content><strong>Owner:</strong> {{ channelDataBeingViewed.owner }}</mat-card-content>
        <mat-card-content><strong>Rezzi:</strong> {{ rezzi }} - {{ channelDataBeingViewed.level }} channel</mat-card-content>
        <br>
        <p><strong>Description:</strong> (optional) {{ channelDataBeingViewed.description }}</p>
        <br>
        <div id="adbtns" class="row">
          <button class="adbtn" (click)="approveRequest()" color="primary" mat-raised-button>Approve</button>
          <button class="adbtn" (click)="denyRequest()" color="warn" mat-raised-button>Deny</button>
        </div>
      </mat-card>
    </div>
  </div>
</ng-container>
