<div id="outer-component" class="container">
  <div id="inner-component">
    <app-info-block></app-info-block>

    <!-- <div class="row">
      <div class="col-md component-column">
        <app-info-block></app-info-block>
      </div>
      <div class="col-md-6 component-column">
        <app-sign-in-form></app-sign-in-form>
      </div> -->
    <!-- </div> -->
  </div>
</div>

  <!-- <div  layout="column" flex>
    <div layout="row" flex>
      <div layout="column" flex="50">
        <app-info-block></app-info-block>
      </div>
      <div layout="column" flex="50">
        <app-sign-in-form></app-sign-in-form>
      </div>
    </div> 
  </div> -->
