.container {
  padding: 1em;

  /* Dimensions */
  height: 100%;
  max-width: 100%;  /* Needed to override max-width of .container class */
}

#inner-component {
  height: inherit;  /* Needed to span screen height wrt parent */
  width: inherit;  /* Needed to span screen width wrt parent */
}

.component-column {
  display: flex;
  justify-content: center;
  padding: 3em;
}
