<!-- <div id="outer-component" class="container">
  <div id="inner-component"> -->
<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<mat-horizontal-stepper [linear]="!isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Welcome!</ng-template>
      <br>
      <app-info-block></app-info-block>
      <br>
      <div>
        <button mat-raised-button color="primary" matStepperNext> Next
          <mat-icon aria-hidden="false" [inline]="true" aria-label="next" matTooltip="Next">arrow_forward_ios</mat-icon>
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Sign in</ng-template>
      <br>
      <app-sign-in-form></app-sign-in-form>
      <br>
      <button color="accent" mat-raised-button matStepperPrevious>
        <mat-icon aria-hidden="false" [inline]="true" aria-label="back" matTooltip="Back">arrow_back_ios</mat-icon>Back
      </button>
    </form>
  </mat-step>
</mat-horizontal-stepper>