<mat-drawer-container class="example-container" autosize>
  <mat-toolbar color="accent" class="example-toolbar">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">Dashboard</h1>
  </mat-toolbar>
  <mat-drawer #drawer class="example-sidenav" mode="side" opened>
    <div>
      <br>
      <button (click)="showEdit=true;showPM=false;showRA=false;showHD=false;showReqChan=false;" mat-raised-button>
        Edit Profile
      </button>
    </div>
    <br>
    <br>
    <div>
      <button (click)="showEdit=false;showPM=true;showRA=false;showHD=false;showReqChan=false;" mat-raised-button>
        Private Messages
      </button>
    </div>
    <br>
    <br>
    <div *ngIf="accountType==2">
      <button (click)="showEdit=false;showPM=false;showRA=false;showHD=false;showReqChan=true;" mat-raised-button>
        Request Channel
      </button>
      <br>
      <br>
    </div>
    <div *ngIf="accountType==0||accountType==1">
      <button (click)="showEdit=false;showPM=false;showRA=true;showHD=false;showReqChan=false;" mat-raised-button>
        RA Admin
      </button>
      <br>
      <br>
    </div>
    <div *ngIf="accountType==0">
      <button (click)="showEdit=false;showPM=false;showRA=false;showHD=true;showReqChan=false;" mat-raised-button>
        HD Admin
      </button>
    </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <p *ngIf="showEdit">
      <app-edit-profile></app-edit-profile>
    </p>
    <p *ngIf="showPM">
      <app-pm-interface></app-pm-interface>
    </p>
    <p *ngIf="showRA">
      <app-ra-admin [email]="email" [rezzi]="rezzi"></app-ra-admin>
    </p>
    <p *ngIf="showHD">
      <app-hd-admin></app-hd-admin>
    </p>
    <p *ngIf="showReqChan">
      <app-request-channel></app-request-channel>
    </p>
  </div>

</mat-drawer-container>
