<mat-drawer-container class="example-container" autosize>
  <mat-toolbar class="example-toolbar">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">Dashboard</h1>
  </mat-toolbar>
  <mat-drawer #drawer class="example-sidenav" mode="side" opened>
    <div>
      <br>
      <button (click)="showEditProfile()" mat-raised-button>Edit Profile</button>
    </div>
    <br>
    <br>
    <div>
      <button (click)="showPrivateMessages()" mat-raised-button>Private Messages</button>
    </div>
    <br>
    <br>
    <div>
      <button (click)="showNotifications()" mat-raised-button>Notifications</button>
    </div>
    <br>
    <br>
    <div *ngIf="accountType==2">
      <button (click)="showRequestChannel()" mat-raised-button>Request Channel</button>
      <br>
      <br>
    </div>
    <div *ngIf="accountType==0||accountType==1">
      <button (click)="showRaAdmin()" mat-raised-button>RA Admin</button>
      <br>
      <br>
    </div>
    <div *ngIf="accountType==0">
      <button (click)="showHdAdmin()" mat-raised-button>HD Admin</button>
      <br>
      <br>
    </div>
    <div *ngIf="accountType==0||accountType==1">
      <button (click)="showPostingPrivileges()" mat-raised-button>Posting Privileges</button>
      <br>
      <br>
    </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <p *ngIf="showEdit">
      <app-edit-profile></app-edit-profile>
    </p>
    <p *ngIf="showPM">
      <app-pm-interface [viewing]=viewing></app-pm-interface>
    </p>
    <p *ngIf="showRA">
      <app-ra-admin [email]="email" [rezzi]="rezzi"></app-ra-admin>
    </p>
    <p *ngIf="showHD">
      <app-hd-admin></app-hd-admin>
    </p>
    <p *ngIf="showReqChan">
      <app-request-channel></app-request-channel>
    </p>
    <p *ngIf="showPostPriv">
      <app-assign-privilegs></app-assign-privilegs>
    </p>
    <p *ngIf="showNotify">
      <app-notifications></app-notifications>
    </p>
  </div>

</mat-drawer-container>
