h3 {
  padding-top: 1em;
  padding-bottom: .5em;
}

fieldset {
  padding: 20px;
}

.vspace {
  padding-bottom: 2em;
}

.plus {
  padding: 0px 14px;
}

#create {
  border-color: transparent;
  padding-top: 2em;
  padding-left: 0;
}

#create-btn {
  margin-left: 0;
}

mat-card {
  width: 80%;
  margin: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
button, h3 {
  margin: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
