
<div class="container-fluid">
  <h2 style="text-align: center;">Notifications</h2>

  <mat-accordion>
    <mat-expansion-panel>

      <mat-expansion-panel-header>
        <mat-panel-title>
          Account Deletion Requests
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-card *ngFor="let deletionRequest of deletionRequests" (click)='deleteUser(deletionRequest)'><!-- Looping the deletion requests-->
        {{ deletionRequest }}
      </mat-card>

    </mat-expansion-panel>

    <mat-expansion-panel>

      <mat-expansion-panel-header>
        <mat-panel-title>
          Reported Messages
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-card *ngFor="let reportedMessage of this.reportedMessages" (click)='removeMessage(reportedMessage)'>
        {{ reportedMessage.content }}
      </mat-card>
    </mat-expansion-panel>
  </mat-accordion>

</div>
