<div id="channelMessages">
  <!-- https://angular.io/api/common/NgForOf#local-variables -->
  <div *ngFor="let message of messages; last as isLast">
    <div *ngIf="message.id === 'BOT_MSG'; else nonbotMessage">
      <app-bot-message
        [botMessage]="message.content"
        [isLastMsg]="isLast"
        (lastMessageDisplayed)="onLastMessage($event)"
      ></app-bot-message>
    </div>
    <ng-template #nonbotMessage>
      <app-message
        [message]="message"
        [viewingUser]="user"
        [channel]="currentChannel"
        [rezzi]="session.rezzi"
        [pm]="false"
        [updateScrolling]="needToUpdateScroll"
        [isLastMsg]="isLast"
      ></app-message>
    </ng-template>
  </div>
</div>

<!-- this is the component that displays the previous messages -->
