.add-channel-button {
  margin-top: 10px;
  transition: none;
  box-shadow: none;
}

.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
  width: 100px
}

.rezzi {
  overflow-y: auto;
}

.no-rezzi {
  padding: 180px 0;
  text-align: center;
  color: #808080;
  font-size: 11pt;
}

.join-channel-button {
  width: 100%;
  position: absolute;
  bottom: 65px;
  right: 0px;
  padding: 5px;
}
