<!-- This component shows the floors/channels the user is in -->
<mat-accordion *ngIf="channels.length > 0" multi="true" class="rezzi"> <!-- TODO make sure expanded channels don't appear over 'Join' button -->
  <ng-container *ngFor="let channel of channels"> <!-- looping the floor channels -->
    <mat-expansion-panel *ngIf="channel.belongs">
      <mat-expansion-panel-header>
        <mat-panel-title (click)='doTheThing()' routerLink='/home'> <!-- TODO add routerLink or click to view channel's chat -->
          {{ channel.channel }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-container *ngFor="let interest of channel.subchannels"> <!-- Looping the interest channels-->
        <mat-card *ngIf="interest.belongs">
          <mat-card-content (click)='doTheThing()' routerLink='/home'> <!-- TODO add routerLink or click to view channel's chat -->
            {{ interest.channel }}
          </mat-card-content>
        </mat-card>
      </ng-container>
      
      <button mat-stroked-button class="add-channel-button" routerLink='/home'>Add Channel</button> <!--TODO add routerLink to add new channel, -->
    </mat-expansion-panel>
  </ng-container>
</mat-accordion>

<p class="no-rezzi" *ngIf="channels.length == 0">You are currently not a member of any Rezzi channels.</p>

<button mat-button (click)="openDialog()" class="join-channel-button">Join Channel</button>
