<h3>Welcome to Rezzi!</h3>
<h4>This segment is in welcome.component.html</h4>

<p>We (Conley and Kai) will make this look nicer as the sprint progresses, but this will be a sort of
  default welcome page with the logo or something. Right now, we have three routes set up which you can
  reach by going to:</p>
<ul>
  <li><a routerLink='/sign-up'>'/sign-up'</a></li>
  <li><a routerLink='/sign-up-hd'>'/sign-up-hd'</a></li>
  <li><a routerLink='/home'>'/home'</a></li>
</ul>

<p>Or if you really hate the app, you can sign out:</p>
<sign-out-button></sign-out-button>
<p>Happy coding, Team 8! :)</p>
