#tableContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 85%;
}

h1 {
  margin: 25px 0;
}

#filterButtonContainer {
  align-self: flex-end;
}

#residentTable {
  width: -webkit-fill-available;
}

.mat-row {
  height: auto;
}

.mat-cell {
  padding: 20px 20px 20px 0;
}
