/* You can add global styles to this file, and also import other style files */
//  @import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: 'Baloo Tamma 2', cursive; }

html, body { height: 100%; }
body { margin: 0;font-family: 'Baloo Tamma 2', cursive; } 
@import "theme_variables.scss"