@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
@import '~@angular/material/theming';
@import '~angular-calendar/scss/angular-calendar.scss';
// @import "~theme_variables.scss";

$my-app-primary: mat-palette($mat-teal);
$my-app-accent:  mat-palette($mat-blue-grey);
$my-app-secondary: mat-palette($mat-blue-grey);
// The warn palette is optional (defaults to red).
$my-app-warn:    mat-palette($mat-red);
// $background-color: map_get($mat-blue-grey, $mat-blue-grey);


//custom sass color
$primary: mat-color($my-app-primary);
$accent: mat-color($my-app-accent);
$secondary: mat-color($my-app-secondary);
$warn: mat-color($my-app-warn);
$border-color: rgba(0, 0, 0, 0.6);

// Create the theme object (a Sass map containing all of the palettes).
$my-app-theme: mat-dark-theme($my-app-primary, $my-app-accent, $my-app-warn);

// Insert custom background color
// $background: map-get($my-app-theme, background);
// $background: map_merge($background, (background: $background-color));
// $my-app-theme: map_merge($my-app-theme, (background: $background));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($my-app-theme);
// Go to https://github.com/mattlewis92/angular-calendar/blob/master/projects/angular-calendar/src/variables.scss
// to find what the variables mean for theming of the calendar
@include cal-theme((
  bg-primary: $primary,
  bg-secondary: $secondary,
  weekend-color: indianred,
  bg-active: $accent,
  border-color: $border-color,
  gray: $secondary,
  today-bg: $secondary,
  event-color-primary: $secondary,
));
.cal-month-view .cal-day-cell.cal-out-month .cal-day-number {
  opacity: 0.15;
}