<!--
    The invite users page will have two text boxes
        One for RA invites and one for resident invites
        Below that is a list of available channels that HD can add the group of users to 
        When "Invte <user type>" is pressed, emails are sent to users and user infor is stored in the database
-->

<div class="container-fluid">

        <div class="center" id="logo">
          
        </div>
        <br>
        <br>
      
        <h2>Invite New Users to Your Rezzi</h2>
        <br>
        <div>
    <div class="row">
            <!--Invite RAs-->
          <div class="column">
              <h3>Invite RAs</h3>
            <textarea id="RAEmails" rows="8" cols="20">Enter RA emails in a comma seperated list
            </textarea>
            <p>Select channels you would like these users to be automatically added to.</p>
            <!--TODO: Pull list of channels for this Rezzi and put them with checkboxes-->

            <div class="form-row vspace">
                    <button class="btn btn-primary" (click)="initiateRAInvite()">Invite RAs</button>
                  </div>
          </div>

            <!--Invite Residents-->
            <div class="column">
                <h3>Invite Residents</h3>
                <textarea id="ResidentEmails" rows="8" cols="20">Enter resident emails in a comma seperated list
                </textarea>

                <p>Select channels you would like these users to be automatically added to.</p>
            <!--TODO: Pull list of channels for this Rezzi and put them with checkboxes-->

            <div class="form-row vspace">
                    <button class="btn btn-primary" (click)="initiateResidentInvite()">Invite residents</button>
                  </div>
            </div>
          <br>
        </div>
          
          <br>
      
          
        </div>
        
      </div>
