<mat-toolbar>
  <div class="interior">
    <button mat-button (click)="openPollDialog()">Create Poll</button>
  </div>
  <div class="interior2">
    <span class="nav-title"> {{navTitle}} </span>
  </div>
  <div class="menu-button">
    <button mat-button [disabled]="channelMenuDisabled" [matMenuTriggerFor]="channelMenu">⋮</button>

    <mat-menu #channelMenu="matMenu" xPosition="before">
      <button mat-menu-item (click)="goToViewMembersScreen()">View Members</button>
        <button mat-menu-item (click)="goToChannelMessagesScreen()">View Channel</button>
              <div *ngIf="!muteButtonDisabled">
        <button mat-menu-item (click)="goToMuteMembersScreen()">Mute Members</button>
        <mat-divider></mat-divider>
      </div>
      <button mat-menu-item [disabled]="leaveButtonDisabled" (click)="openLeaveDialog()">Leave Channel</button>
      <button mat-menu-item [disabled]="deleteButtonDisabled" (click)="openDeleteDialog()">Delete Channel</button>
      
    </mat-menu>
  </div>
</mat-toolbar>
