<mat-toolbar id="header-toolbar" color="primary">
  <!-- Show these buttons if user is logged in -->
  <div *ngIf="userIsLoggedIn">
    <button mat-button color="primary"> <img src="../../assets/images/logo.png"></button>

    <button mat-button [matMenuTriggerFor]="menu">Dashboard</button>
    <mat-menu #menu="matMenu">
    <button mat-menu-item>Edit Profile</button>
    <button mat-menu-item>Private Messages</button>
    <button mat-menu-item>Notifications</button>
    
  </mat-menu>
    <!-- <a class="matbarurl" title="Hompage" routerLink='/home'>Rezzi</a>
    <a class="matbarurl" title="Dashboard" routerLink='/dashboard'>Dashboard</a> -->
  </div>

  <div *ngIf="userIsLoggedIn">
    <app-sign-out-button></app-sign-out-button>
  </div>

  <!-- Show these buttons if user is not logged in -->
  <div *ngIf="!userIsLoggedIn">Rezzi</div>

  <!-- <div *ngIf="!userIsLoggedIn">
    <a class="matbarurl" title="Sign In" routerLink='/sign-in' mat-raised-button>Sign In</a>
  </div> -->
</mat-toolbar>
