<mat-toolbar id="header-toolbar" color="primary">
  <!-- Show these buttons if user is logged in -->
  <div *ngIf="userIsLoggedIn">
    <a class="matbarurl" title="Hompage" routerLink='/home'><img src="../../assets/images/logo.png"></a>
    
    <a class="matbarurl" title="Dashboard" routerLink='/dashboard'>Dashboard</a>
  </div>

  <div *ngIf="userIsLoggedIn">
    <app-sign-out-button></app-sign-out-button>
  </div>

  <!-- Show these buttons if user is not logged in -->
  <div *ngIf="!userIsLoggedIn"><img src="../../assets/images/logo.png"></div>

  <!-- <div *ngIf="!userIsLoggedIn">
    <a class="matbarurl" title="Sign In" routerLink='/sign-in' mat-raised-button>Sign In</a>
  </div> -->
</mat-toolbar>


<!-- 
<nav class="navbar navbar-expand-md">
  <a class="nav-link" href="/home"> <img src="../../assets/images/logo.png"> <span
    class="sr-only">(current)</span></a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div *ngIf="userIsLoggedIn">




      <ul class="navbar-nav mr-auto">
         <li class="nav-item active">
          <a class="nav-link" href="/home"> <img src="../../assets/images/logo.png"> <span
              class="sr-only">(current)</span></a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li> -->
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Dashboard
          </a> -->
          
          <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/dashboard">Dashboard</a>
            <a class="dropdown-item" href="/edit_profile">Edit Profile</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
      
        </li>
      </ul>
    </div>
  </div>
</nav>


<mat-toolbar id="header-toolbar" color="primary">
  <div *ngIf="userIsLoggedIn">
    <button id="rezbtn" mat-button color="primary"> <img src="../../assets/images/logo.png"></button>

    <button mat-button [matMenuTriggerFor]="menu">Dashboard</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Edit Profile</button>
      <button mat-menu-item>Private Messages</button>
      <button mat-menu-item>Notifications</button> -->
