<div class="container" id="sign-in-form-container">
  <form id="sign-in-form" method="POST">
    <div class="form-row vspace">
      <input type="email" class="form-control" id="email" name="email" placeholder="Email address" required>
    </div>
    <div class="form-row vspace">
      <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
    </div>
    <div class="form-row vspace">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    <div class="form-row">
      <a href="/nerp">Forgot password</a>
    </div>
  </form>
</div>
