<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="example-sidenav" mode="side" disableClose="true" opened="true">  <!-- Stuff in sidebar -->
    <p>Side Nav</p>
    <app-pm-side-panel
      (pmUsersToSend)="receivedPMUsers($event)"
      (pmUserToView)="viewingNewPMUser($event)">
    </app-pm-side-panel>
  </mat-drawer>

  <div class="example-sidenav-content">

    <app-private-messages
    [sessionUpdateEvent]="sessionUpdateSubject.asObservable()"
    [pmUsersUpdateEvent]="pmUsersUpdateSubject.asObservable()"
    [viewingUpdateEvent]="viewingUpdateSubject.asObservable()"
    [viewingUser]="abbrevUser"
    ></app-private-messages>

    <app-new-pm
    [sessionUpdateEventAnm]="sessionUpdateSubject.asObservable()"
    [viewingUpdateEventAnm]="viewingUpdateSubject.asObservable()"
    [abbrevUserUpdateEvent]="abbrevUserUpdateSubject.asObservable()"
    ></app-new-pm>

  </div>
</mat-drawer-container>
