<mat-drawer-container class="example-container">
  <mat-toolbar>
    <span *ngIf="currentName!=null">Now chatting with {{ currentName }}</span>
    <span *ngIf="currentName==null">Select a user to start chatting!</span>
  </mat-toolbar>
  <mat-drawer #drawer class="example-sidenav" mode="side" disableClose="true" opened="true">
    <!-- Stuff in sidebar -->
    <p style="padding-top: 45px;"></p>
    <app-pm-side-panel [viewing]=viewingOutput (pmUsersToSend)="receivedPMUsers($event)" (pmUserToView)="viewingNewPMUser($event)">
    </app-pm-side-panel>
  </mat-drawer>


    <div class="message-area">
      <app-private-messages [sessionUpdateEvent]="sessionUpdateSubject.asObservable()"
        [pmUsersUpdateEvent]="pmUsersUpdateSubject.asObservable()"
        [viewingUpdateEvent]="viewingUpdateSubject.asObservable()"
        [abbrevUserUpdateEvent]="abbrevUserUpdateSubject.asObservable()"></app-private-messages>
    </div>
    <div *ngIf="currentName!=null">
      <app-new-pm [sessionUpdateEventAnm]="sessionUpdateSubject.asObservable()"
        [viewingUpdateEventAnm]="viewingUpdateSubject.asObservable()"
        [abbrevUserUpdateEvent]="abbrevUserUpdateSubject.asObservable()"></app-new-pm>
    </div>
</mat-drawer-container>
