<mat-drawer-container class="pm-container">
  <mat-drawer class="pm-side-nav" #drawer mode="side" opened>
    <p>Side Nav</p>
    <app-pm-side-panel
      (pmUsersToSend)="receivedPMUsers($event)"
      (pmUserToView)="viewingNewPMUser($event)">
    </app-pm-side-panel>
  </mat-drawer>

  <div class="pm-sidenav-content">

    <app-private-messages
    [sessionUpdateEvent]="sessionUpdateSubject.asObservable()"
    [pmUsersUpdateEvent]="pmUsersUpdateSubject.asObservable()"
    [viewingUpdateEvent]="viewingUpdateSubject.asObservable()"
    ></app-private-messages>

    <app-new-pm
    [sessionUpdateEventAnm]="sessionUpdateSubject.asObservable()"
    [viewingUpdateEventAnm]="viewingUpdateSubject.asObservable()"
    ></app-new-pm>

  </div>
</mat-drawer-container>
