form {
    width: 80%;
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  mat-label{
      padding-top: 20px;
  }
  #center{
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  mat-form-field{
      width: 95%;
  }