<!-- <div>
  <button (click)="showCreateChannel=true;showChannelRequests=false" mat-raised-button>
    Create Channel
  </button>
  <button (click)="showCreateChannel=false;showChannelRequests=true" mat-raised-button>
    View Channel Requests
  </button>
</div>
<div>
  <p *ngIf="showCreateChannel"><app-ra-create-channel></app-ra-create-channel></p>
  <p *ngIf="showChannelRequests">
    <app-ra-channel-requests [email]="email" [rezzi]="rezzi"></app-ra-channel-requests>
  </p>
</div> -->

<mat-tab-group>
  <mat-tab label="Create Channel">
    <div class="stuff">
      <app-ra-create-channel></app-ra-create-channel>
    </div>
  </mat-tab>
  <mat-tab label="View Channel Requests">
    <div class="stuff">
      <app-ra-channel-requests [email]="email" [rezzi]="rezzi"></app-ra-channel-requests>
    </div>
  </mat-tab>
</mat-tab-group>