<div id="tableContainer">
  <h1>{{ title }}</h1>
  <p>{{ message }}</p>

  <div id="tableContainer2" *ngFor="let tableDataByFloor of matTableDataMap | keyvalue">
    <h2>Residents on floor: {{ tableDataByFloor.key }}</h2>
    <table class="residentTable mat-elevation-z8" mat-table [dataSource]="tableDataByFloor.value">
      <!-- First Name column-->
      <ng-container matColumnDef="fnameCol">
        <th mat-header-cell *matHeaderCellDef> First Name </th>
        <td class="fnameColumn" mat-cell *matCellDef="let resident">{{ resident.firstName }}</td>
      </ng-container>

      <!-- Last name column-->
      <ng-container matColumnDef="lnameCol">
        <th mat-header-cell *matHeaderCellDef> Last Name </th>
        <td class="lnameColumn" mat-cell *matCellDef="let resident">{{ resident.lastName }}</td>
      </ng-container>

      <!-- Email column -->
      <ng-container matColumnDef="emailCol">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td class="emailColumn" mat-cell *matCellDef="let resident">{{ resident.email }}</td>
      </ng-container>

      <!-- Account type column -->
      <ng-container matColumnDef="actTypeCol">
        <th mat-header-cell *matHeaderCellDef> User type </th>
        <td class="accountColumn" mat-cell *matCellDef="let resident">
          <div *ngIf="resident.accountType==1">RA</div>
          <div *ngIf="resident.accountType==2">Resident</div>
        </td>
      </ng-container>

      <!-- Move menu column -->

      <!-- Button column -->
      <ng-container matColumnDef="buttonCol">
        <th mat-header-cell *matHeaderCellDef></th>
        <td class="buttonColumn" mat-cell *matCellDef="let resident">
          <button mat-raised-button color="accent" (click)="moveUser(resident.email)">Move</button>
        </td>
      </ng-container>

      <!-- ROW INFO-->
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>
  </div>
</div>
