#tableContainer, #tableContainer2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tableContainer {
  margin: auto;
  margin-bottom: 75px;
  width: 85%;
}

#tableContainer2 {
  width: -webkit-fill-available;
}

h2 {
  margin: 25px 0 5px 0;
  text-align: center;
  
}
h3{
  margin: 15px 0 10px 0;
  text-align: center;

}

#filterButtonContainer {
  align-self: flex-end;
}

.residentTable {
  width: -webkit-fill-available;
}

.mat-row {
  height: auto;
}

.mat-cell {
  padding: 20px 20px 20px 0;
}

/* Make sure column widths add up to 100% */
.fnameColumn, .lnameColumn {
  width: 17%;
}

.emailColumn {
  width: 25%;
}

.floorMenuColumn {
  width: 21%;
}

.accountColumn, .buttonColumn {
  width: 10%;
}
