<!-- Source for Angular material table https://material.angular.io/components/table/overview-->
<div class="container-fluid">
    <h2 style="text-align: center;">Manage Users</h2>
   <!-- RA info table-->
    <h3 style="text-align: left;">Resident Assistants</h3>
    <table mat-table [dataSource]="RAs" class="mat-elevation-z8">
        <!-- COLUMN INFO-->
        <!-- Email column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email</th>
            <td mat-cell *matCellDef="let RA"> {{RA.email}} </td>
        </ng-container>
        <!-- First Name column-->
        <ng-container matColumnDef="fName">
            <th mat-header-cell *matHeaderCellDef> First Name</th>
            <td mat-cell *matCellDef="let RA"> {{RA.firstName}} </td>
        </ng-container>
        <!-- Last name column-->
        <ng-container matColumnDef="lName">
            <th mat-header-cell *matHeaderCellDef> Last Name</th>
            <td mat-cell *matCellDef="let RA"> {{RA.lastName}} </td>
        </ng-container>
        <!-- Floor column-->
        <ng-container matColumnDef="floor">
            <th mat-header-cell *matHeaderCellDef> Floor</th>
            <td mat-cell *matCellDef="let RA"> {{RA.floor}} </td>
        </ng-container>
        <!-- Verification status column-->
        <ng-container matColumnDef="verified">
            <th mat-header-cell *matHeaderCellDef> Verification Status</th>
            <td mat-cell *matCellDef="let RA"> {{RA.verified}} </td>
        </ng-container>
        <!-- TODO: Date last email sent column-->
        <ng-container matColumnDef="lastEmailSent">
          <th mat-header-cell *matHeaderCellDef> Last Verification Email Sent</th>
          
          <td mat-cell *matCellDef="let RA" (click)="resendEmail(RA.email)"> 
            <ng-container *ngIf="RA.verified == false">
            <button mat-button >{{RA.lastEmailSent}} </button>
          </ng-container>
        </td>
            
      </ng-container>
        <!-- TODO: make column for buttons-->

        <!-- ROW INFO-->
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
      </table>

    <!-- Resident info table-->
    <h3 style="text-align: left;">Residents</h3>
    <table mat-table [dataSource]="residents" class="mat-elevation-z8">
        <!-- COLUMN INFO-->
        <!-- Email column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email</th>
            <td mat-cell *matCellDef="let resident"> {{resident.email}} </td>
        </ng-container>
        <!-- First Name column-->
        <ng-container matColumnDef="fName">
            <th mat-header-cell *matHeaderCellDef> First Name</th>
            <td mat-cell *matCellDef="let resident"> {{resident.firstName}} </td>
        </ng-container>
        <!-- Last name column-->
        <ng-container matColumnDef="lName">
            <th mat-header-cell *matHeaderCellDef> Last Name</th>
            <td mat-cell *matCellDef="let resident"> {{resident.lastName}} </td>
        </ng-container>
        <!-- Floor column-->
        <ng-container matColumnDef="floor">
            <th mat-header-cell *matHeaderCellDef> Floor</th>
            <td mat-cell *matCellDef="let resident"> {{resident.floor}} </td>
        </ng-container>
        <!-- Verification status column-->
        <ng-container matColumnDef="verified">
            <th mat-header-cell *matHeaderCellDef> Verification Status</th>
            <td mat-cell *matCellDef="let resident"> {{resident.verified}} </td>
        </ng-container>
        <!-- TODO: Date last email sent column-->
        <ng-container matColumnDef="lastEmailSent">
          <th mat-header-cell *matHeaderCellDef> Last Verification Email Sent</th>
        
          <td mat-cell *matCellDef="let resident" (click)="resendEmail(resident.email)"> 
            <ng-container *ngIf="resident.verified == false">
              <button mat-button >{{resident.lastEmailSent}} </button>
            </ng-container>
          </td>
      </ng-container>
        <!-- TODO: make column for buttons-->

        <!-- ROW INFO-->
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
      </table>
</div>



<!--
<div class="container-fluid">
    <form method="POST" class="center" id="data-has-loaded">
      <div *ngFor="let RA of RAs" class="row button-section">
        <button class="btn btn-primary" type="submit" name="RAs" value="{{ RAs.email }}">
          {{ RA.firstName }} {{ RA.lastName }}
        </button>
      </div>
    </form>
  </div>

  <div class="container-fluid">
    <form method="POST" class="center" id="data-has-loaded">
      <div *ngFor="let resident of residents" class="row button-section">
        <button class="btn btn-primary" type="submit" name="residents" value="{{ residents.email }}">
          {{ resident.firstName }} {{ resident.lastName }}
        </button>
      </div>
    </form>
  </div>
  -->