.mat-row {
    height: auto;
  }
  
  .mat-cell {
    padding: 20px 20px 20px 0;
  }

.manage-users-table {
    width: 98%;
}
h2{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 15px;
}
h3{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 15px;

}