mat-card{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;   
}
mat-form-field{
    width: 80%;
  }
.form-row{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;  
}