<!-- <p>new-message works!</p> -->
<div class="bottombar">
  <mat-card color="primary" class="box">
    <div class="box">
      <mat-chip-list *ngIf="image !== null" #chipList>
        <mat-chip [removable]="true" (removed)="image = null">
          <mat-icon>image</mat-icon> {{ image.display_name }}<mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>

      <form (submit)=onAddMessage(textForm) #textForm="ngForm" id="message-form" class="message-box">
        <mat-form-field class="input-style">
          <input
            matInput
            placeholder="Enter your message..."
            type="text"
            name="enteredMessage"
            pattern=".*[^ ].*"
            ngModel
            >
          <mat-error>Please enter a valid message</mat-error>
        </mat-form-field>
      </form>

      <button class="add-button" mat-icon-button color="accent" (click)="openImageDialog()"><mat-icon>add_a_photo</mat-icon></button>
      <button class="send-button" mat-icon-button color="accent" type="submit" form="message-form"><mat-icon>send</mat-icon></button>
    </div>
  </mat-card>
</div>
<!-- this is the text box with the "Send" button component -->
