<div class="form-group row vspace" id="members-to-add">
  <label for="member" class="col-sm-2 col-form-label member-label">Add members</label>
  <div class="col-sm-10 member-input-column">
    <div class="input-group member-input">
      <input type="email" class="form-control" name="member" placeholder="Enter member email"
        #htmlEmail0="ngModel" ngModel [email]="true">
      <button type="button" class="w3-button w3-round w3-teal plus" (click)="callParentPlus()">+</button>
    </div>
    <div *ngIf="htmlEmail0.invalid && (htmlEmail0.dirty || htmlEmail0.touched)" class="alert alert-danger">
      <div *ngIf="htmlEmail0.errors.email">Not a valid email address</div>
    </div>
  </div>

  <label for="member" class="col-sm-2 col-form-label member-label" hidden></label>
  <div class="col-sm-10 member-input-column" hidden>
    <div class="input-group member-input">
      <input type="email" class="form-control" name="member" placeholder="Enter member email"
        #htmlEmail1="ngModel" ngModel [email]="true">
      <button type="button" class="w3-button w3-round w3-teal plus" (click)="callParentPlus()">+</button>
    </div>
    <div *ngIf="htmlEmail1.invalid && (htmlEmail1.dirty || htmlEmail1.touched)" class="alert alert-danger">
      <div *ngIf="htmlEmail1.errors.email">Not a valid email address</div>
    </div>
  </div>

  <label for="member" class="col-sm-2 col-form-label member-label" hidden></label>
  <div class="col-sm-10 member-input-column" hidden>
    <div class="input-group member-input">
      <input type="email" class="form-control" name="member" placeholder="Enter member email"
        #htmlEmail2="ngModel" ngModel [email]="true">
      <button type="button" class="w3-button w3-round w3-teal plus" (click)="callParentPlus()">+</button>
    </div>
    <div *ngIf="htmlEmail2.invalid && (htmlEmail2.dirty || htmlEmail2.touched)" class="alert alert-danger">
      <div *ngIf="htmlEmail2.errors.email">Not a valid email address</div>
    </div>
  </div>

  <label for="member" class="col-sm-2 col-form-label member-label" hidden></label>
  <div class="col-sm-10 member-input-column" hidden>
    <div class="input-group member-input">
      <input type="email" class="form-control" name="member" placeholder="Enter member email"
        #htmlEmail3="ngModel" ngModel [email]="true">
      <button type="button" class="w3-button w3-round w3-teal plus" (click)="callParentPlus()">+</button>
    </div>
    <div *ngIf="htmlEmail3.invalid && (htmlEmail3.dirty || htmlEmail3.touched)" class="alert alert-danger">
      <div *ngIf="htmlEmail3.errors.email">Not a valid email address</div>
    </div>
  </div>

  <label for="member" class="col-sm-2 col-form-label member-label" hidden></label>
  <div class="col-sm-10 member-input-column" hidden>
    <div class="input-group member-input">
      <input type="email" class="form-control" name="member" placeholder="Enter member email"
        #htmlEmail4="ngModel" ngModel [email]="true">
      <button type="button" class="w3-button w3-round w3-teal plus" (click)="callParentPlus()">+</button>
    </div>
    <div *ngIf="htmlEmail4.invalid && (htmlEmail4.dirty || htmlEmail4.touched)" class="alert alert-danger">
      <div *ngIf="htmlEmail4.errors.email">Not a valid email address</div>
    </div>
  </div>

  <label for="member" class="col-sm-2 col-form-label member-label" hidden></label>
  <div class="col-sm-10 member-input-column" hidden>
    <div class="input-group member-input">
      <input type="email" class="form-control" name="member" placeholder="Enter member email"
        #htmlEmail5="ngModel" ngModel [email]="true">
      <button type="button" class="w3-button w3-round w3-teal plus" (click)="callParentPlus()">+</button>
    </div>
    <div *ngIf="htmlEmail5.invalid && (htmlEmail5.dirty || htmlEmail5.touched)" class="alert alert-danger">
      <div *ngIf="htmlEmail5.errors.email">Not a valid email address</div>
    </div>
  </div>

  <label for="member" class="col-sm-2 col-form-label member-label" hidden></label>
  <div class="col-sm-10 member-input-column" hidden>
    <div class="input-group member-input">
      <input type="email" class="form-control" name="member" placeholder="Enter member email"
        #htmlEmail6="ngModel" ngModel [email]="true">
      <button type="button" class="w3-button w3-round w3-teal plus" (click)="callParentPlus()">+</button>
    </div>
    <div *ngIf="htmlEmail6.invalid && (htmlEmail6.dirty || htmlEmail6.touched)" class="alert alert-danger">
      <div *ngIf="htmlEmail6.errors.email">Not a valid email address</div>
    </div>
  </div>

  <label for="member" class="col-sm-2 col-form-label member-label" hidden></label>
  <div class="col-sm-10 member-input-column" hidden>
    <div class="input-group member-input">
      <input type="email" class="form-control" name="member" placeholder="Enter member email"
        #htmlEmail7="ngModel" ngModel [email]="true">
      <button type="button" class="w3-button w3-round w3-teal plus" (click)="callParentPlus()">+</button>
    </div>
    <div *ngIf="htmlEmail7.invalid && (htmlEmail7.dirty || htmlEmail7.touched)" class="alert alert-danger">
      <div *ngIf="htmlEmail7.errors.email">Not a valid email address</div>
    </div>
  </div>

  <label for="member" class="col-sm-2 col-form-label member-label" hidden></label>
  <div class="col-sm-10 member-input-column" hidden>
    <div class="input-group member-input">
      <input type="email" class="form-control" name="member" placeholder="Enter member email"
        #htmlEmail8="ngModel" ngModel [email]="true">
      <button type="button" class="w3-button w3-round w3-teal plus" (click)="callParentPlus()">+</button>
    </div>
    <div *ngIf="htmlEmail8.invalid && (htmlEmail8.dirty || htmlEmail8.touched)" class="alert alert-danger">
      <div *ngIf="htmlEmail8.errors.email">Not a valid email address</div>
    </div>
  </div>

  <label for="member" class="col-sm-2 col-form-label member-label" hidden></label>
  <div class="col-sm-10 member-input-column" hidden>
    <div class="input-group member-input">
      <input type="email" class="form-control" name="member" placeholder="Enter member email"
        #htmlEmail9="ngModel" ngModel [email]="true">
      <button type="button" class="w3-button w3-round w3-teal plus" (click)="callParentPlus()">+</button>
    </div>
    <div *ngIf="htmlEmail9.invalid && (htmlEmail9.dirty || htmlEmail9.touched)" class="alert alert-danger">
      <div *ngIf="htmlEmail9.errors.email">Not a valid email address</div>
    </div>
  </div>

  <label for="member" class="col-sm-2 col-form-label member-label" hidden></label>
  <div class="col-sm-10 member-input-column" hidden>
    <div class="input-group member-input">
      <input type="email" class="form-control" name="member" placeholder="Enter member email"
        #htmlEmail10="ngModel" ngModel [email]="true">
      <button type="button" class="w3-button w3-round w3-teal plus" (click)="callParentPlus()">+</button>
    </div>
    <div *ngIf="htmlEmail10.invalid && (htmlEmail10.dirty || htmlEmail10.touched)" class="alert alert-danger">
      <div *ngIf="htmlEmail10.errors.email">Not a valid email address</div>
    </div>
  </div>

  <label for="member" class="col-sm-2 col-form-label member-label" hidden></label>
  <div class="col-sm-10 member-input-column" hidden>
    <div class="input-group member-input">
      <input type="email" class="form-control" name="member" placeholder="Enter member email"
        #htmlEmail11="ngModel" ngModel [email]="true">
      <button type="button" class="w3-button w3-round w3-teal plus" (click)="callParentPlus()">+</button>
    </div>
    <div *ngIf="htmlEmail11.invalid && (htmlEmail11.dirty || htmlEmail11.touched)" class="alert alert-danger">
      <div *ngIf="htmlEmail11.errors.email">Not a valid email address</div>
    </div>
  </div>

  <label for="member" class="col-sm-2 col-form-label member-label" hidden></label>
  <div class="col-sm-10 member-input-column" hidden>
    <div class="input-group member-input">
      <input type="email" class="form-control" name="member" placeholder="Enter member email"
        #htmlEmail12="ngModel" ngModel [email]="true">
      <button type="button" class="w3-button w3-round w3-teal plus" (click)="callParentPlus()">+</button>
    </div>
    <div *ngIf="htmlEmail12.invalid && (htmlEmail12.dirty || htmlEmail12.touched)" class="alert alert-danger">
      <div *ngIf="htmlEmail12.errors.email">Not a valid email address</div>
    </div>
  </div>

  <label for="member" class="col-sm-2 col-form-label member-label" hidden></label>
  <div class="col-sm-10 member-input-column" hidden>
    <div class="input-group member-input">
      <input type="email" class="form-control" name="member" placeholder="Enter member email"
        #htmlEmail13="ngModel" ngModel [email]="true">
      <button type="button" class="w3-button w3-round w3-teal plus" (click)="callParentPlus()">+</button>
    </div>
    <div *ngIf="htmlEmail13.invalid && (htmlEmail13.dirty || htmlEmail13.touched)" class="alert alert-danger">
      <div *ngIf="htmlEmail13.errors.email">Not a valid email address</div>
    </div>
  </div>

  <label for="member" class="col-sm-2 col-form-label member-label" hidden></label>
  <div class="col-sm-10 member-input-column" hidden>
    <div class="input-group member-input">
      <input type="email" class="form-control" name="member" placeholder="Enter member email"
        #htmlEmail14="ngModel" ngModel [email]="true">
      <button type="button" class="w3-button w3-round w3-teal plus" (click)="callParentPlus()">+</button>
    </div>
    <div *ngIf="htmlEmail14.invalid && (htmlEmail14.dirty || htmlEmail14.touched)" class="alert alert-danger">
      <div *ngIf="htmlEmail14.errors.email">Not a valid email address</div>
    </div>
  </div>

  <label for="member" class="col-sm-2 col-form-label member-label" hidden></label>
  <div class="col-sm-10 member-input-column" hidden>
    <div class="input-group member-input">
      <input type="email" class="form-control" name="member" placeholder="Enter member email"
        #htmlEmail15="ngModel" ngModel [email]="true">
      <button type="button" class="w3-button w3-round w3-teal plus" (click)="callParentPlus()">+</button>
    </div>
    <div *ngIf="htmlEmail15.invalid && (htmlEmail15.dirty || htmlEmail15.touched)" class="alert alert-danger">
      <div *ngIf="htmlEmail15.errors.email">Not a valid email address</div>
    </div>
  </div>

  <label for="member" class="col-sm-2 col-form-label member-label" hidden></label>
  <div class="col-sm-10 member-input-column" hidden>
    <div class="input-group member-input">
      <input type="email" class="form-control" name="member" placeholder="Enter member email"
        #htmlEmail16="ngModel" ngModel [email]="true">
      <button type="button" class="w3-button w3-round w3-teal plus" (click)="callParentPlus()">+</button>
    </div>
    <div *ngIf="htmlEmail16.invalid && (htmlEmail16.dirty || htmlEmail16.touched)" class="alert alert-danger">
      <div *ngIf="htmlEmail16.errors.email">Not a valid email address</div>
    </div>
  </div>

  <label for="member" class="col-sm-2 col-form-label member-label" hidden></label>
  <div class="col-sm-10 member-input-column" hidden>
    <div class="input-group member-input">
      <input type="email" class="form-control" name="member" placeholder="Enter member email"
        #htmlEmail17="ngModel" ngModel [email]="true">
      <button type="button" class="w3-button w3-round w3-teal plus" (click)="callParentPlus()">+</button>
    </div>
    <div *ngIf="htmlEmail17.invalid && (htmlEmail17.dirty || htmlEmail17.touched)" class="alert alert-danger">
      <div *ngIf="htmlEmail17.errors.email">Not a valid email address</div>
    </div>
  </div>

  <label for="member" class="col-sm-2 col-form-label member-label" hidden></label>
  <div class="col-sm-10 member-input-column" hidden>
    <div class="input-group member-input">
      <input type="email" class="form-control" name="member" placeholder="Enter member email"
        #htmlEmail18="ngModel" ngModel [email]="true">
      <button type="button" class="w3-button w3-round w3-teal plus" (click)="callParentPlus()">+</button>
    </div>
    <div *ngIf="htmlEmail18.invalid && (htmlEmail18.dirty || htmlEmail18.touched)" class="alert alert-danger">
      <div *ngIf="htmlEmail18.errors.email">Not a valid email address</div>
    </div>
  </div>

  <label for="member" class="col-sm-2 col-form-label member-label" hidden></label>
  <div class="col-sm-10 member-input-column" hidden>
    <div class="input-group member-input">
      <input type="email" class="form-control" name="member" placeholder="Enter member email"
        #htmlEmail19="ngModel" ngModel [email]="true">
      <button type="button" class="w3-button w3-round w3-teal plus" (click)="callParentPlus()">+</button>
    </div>
    <div *ngIf="htmlEmail19.invalid && (htmlEmail19.dirty || htmlEmail19.touched)" class="alert alert-danger">
      <div *ngIf="htmlEmail19.errors.email">Not a valid email address</div>
    </div>
  </div>
</div>
