mat-card {
  /*display: flex;*/
  margin: 10px;
}

mat-card-header {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

mat-card-footer {
  font-size: smaller;
  /*margin-left: 5px;*/
  margin-bottom: 1px;
  margin-right: 3px;
  text-align: end;
}

.avatar {
  /*background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');*/
  background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-position: center;
}

.reactions {
  margin-left: auto;
}

#report {
  font-size: 17px;
}
.mat-divider {
  border-top-width: 3px;
  position: relative;
  padding-bottom: 10px;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}
