mat-card {
  /*display: flex;*/
  margin: 5px;
}

/* Column containing the name */
.col-2 {
  font-weight: bold;
}

mat-card-footer {
  font-size: smaller;
  margin-left: 5px;
  margin-bottom: 2px;
  text-align: end;
}

.avatar {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.reactions {
	float: right;
}