<div *ngIf="message.visible==true">
  <div *ngIf="isPoll==false">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar [ngStyle]="{ 'background-image': 'url(' + avatar + ')', 'background-size': 'cover' }">
        </div>
        <mat-card-title>{{ displayName }}</mat-card-title>
        <span class="reactions">
          <ng-container *ngFor="let reaction of reactions | keyvalue">
            <button mat-icon-button (click)="sendReaction(reaction.key)">
              <mat-icon *ngIf="reaction.value.length > 0" matBadge="{{ reaction.value.length }}"
                color="{{ reacted[reaction.key] }}" matBadgeSize="small" matTooltip="{{ getList(reaction.key) }}"
                matTooltipPosition="above">
                {{ reaction.key }}
              </mat-icon>
              <mat-icon *ngIf="reaction.value.length == 0">
                {{ reaction.key }}
              </mat-icon>
            </button>
          </ng-container>
        </span>
      </mat-card-header>



      <img *ngIf="image !== null" mat-card-image src="{{ image }}">
      <mat-card-content *ngIf="content[0] !== null && content.length > 1">
        <div [innerHTML]="content[0]"></div>
        <mat-divider></mat-divider>
        <div [innerHTML]="content[1]"></div>
      </mat-card-content>
      <mat-card-content *ngIf="content.length === 1 && content[0] !== null" [innerHTML]="content[0]"></mat-card-content>
      <mat-card-footer>{{ displayTime }}
        <button *ngIf="pm!=true" mat-icon-button (click)="reportMessage()">
          <mat-icon *ngIf="accountType>=2" id="report" [ngStyle]="{'color':'red'}" [inline]="true" aria-hidden="false"
            aria-label="report" matTooltip="Report Message">flag</mat-icon>
          <mat-icon *ngIf="accountType<2" id="report" [ngStyle]="{'color':'red'}" [inline]="true" aria-hidden="false"
            aria-label="report" matTooltip="Delete Message">delete_forever</mat-icon>
        </button>
      </mat-card-footer>
    </mat-card>
  </div>

  <div *ngIf="isPoll==true">
    <!-- If poll has expired -->
    <div *ngIf="currentTime-formSubmissionTime>86400000">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar [ngStyle]="{ 'background-image': 'url(' + avatar + ')', 'background-size': 'cover' }">
          </div>
          <mat-card-title>{{ displayName }}</mat-card-title>
          <span class="reactions">
            <ng-container *ngFor="let reaction of reactions | keyvalue">
              <button mat-icon-button (click)="sendReaction(reaction.key)">
                <mat-icon *ngIf="reaction.value.length > 0" matBadge="{{ reaction.value.length }}"
                  color="{{ reacted[reaction.key] }}" matBadgeSize="small" matTooltip="{{ getList(reaction.key) }}"
                  matTooltipPosition="above">
                  {{ reaction.key }}
                </mat-icon>
                <mat-icon *ngIf="reaction.value.length == 0">
                  {{ reaction.key }}
                </mat-icon>
              </button>
            </ng-container>
          </span>
        </mat-card-header>



        <img *ngIf="image !== null" mat-card-image src="{{ image }}">
        <h2>Final Poll Results:</h2>
        <h3>{{pollInfo.question}}</h3>
        <h4 *ngIf="pollWinnerCount!=0 && pollWinnerTotal!=1 &&pollTieInfo.length==1">{{pollWinnerName}} has won with
          {{pollWinnerCount}} out
          of the
          {{pollWinnerTotal}} total
          votes!</h4>
        <h4 *ngIf="pollWinnerCount!=0 && pollWinnerTotal==1 &&pollTieInfo.length==1">{{pollWinnerName}} has won with
          {{pollWinnerCount}} out
          of the
          {{pollWinnerTotal}} total
          vote!</h4>
        <h4 *ngIf="pollWinnerCount!=0 && pollTieInfo.length!=1">
          <span>
            There has been a tie between <div *ngFor="let winner of pollTieInfo; let i = index"
              style="display: inline-block;">
              <div *ngIf="pollTieInfo.length>2">
                <div *ngIf="i!=pollTieInfo.length-1">
                  <div *ngIf="i!=pollTieInfo.length-2">
                    {{winner}},&nbsp;
                  </div>
                  <div *ngIf="i==pollTieInfo.length-2">
                    {{ winner }}, and&nbsp;
                  </div>
                </div>
                <div *ngIf="i==pollTieInfo.length-1"> {{ winner }} </div>
              </div>
              <div *ngIf="pollTieInfo.length<=2">
                <div *ngIf="i!=pollTieInfo.length-1"> {{ winner }} and&nbsp;</div>
                <div *ngIf="i==pollTieInfo.length-1"> {{ winner }} </div>
              </div>
            </div> each having {{pollWinnerCount}}
            <div *ngIf="pollWinnerCount==1" style="display: inline-block;">vote</div>
            <div *ngIf="pollWinnerCount!=1" style="display: inline-block;">votes</div>
            out
            of the
            {{pollWinnerTotal}} total
            votes!</span></h4>
        <h4 *ngIf="pollWinnerCount==0">No votes were cast, therefore there is no winner!</h4>
        <div *ngFor="let response of pollInfo.responses; let i = index">
          <div *ngIf="response.count>1">{{response.content}} has {{response.count}} votes!</div>
          <div *ngIf="response.count==1">{{response.content}} has {{response.count}} vote!</div>
          <div *ngIf="response.count==0">{{response.content}} has no votes!</div>
        </div>
        <br>
        <mat-card-content>This poll expired {{ displayPollExpiration }}</mat-card-content>
        <mat-card-footer>{{ displayTime }}
          <button mat-icon-button (click)="reportMessage()">
            <mat-icon *ngIf="accountType>=2" id="report" [ngStyle]="{'color':'red'}" [inline]="true" aria-hidden="false"
              aria-label="report" matTooltip="Report Message">flag</mat-icon>
            <mat-icon *ngIf="accountType<2" id="report" [ngStyle]="{'color':'red'}" [inline]="true" aria-hidden="false"
              aria-label="report" matTooltip="Delete Message">delete_forever</mat-icon>
          </button>
        </mat-card-footer>
      </mat-card>
    </div>

    <!-- If poll has not expired, but the user has answered -->
    <div *ngIf="pollInfo.users.includes(user.email)==true && currentTime-formSubmissionTime<86400000">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar [ngStyle]="{ 'background-image': 'url(' + avatar + ')', 'background-size': 'cover' }">
          </div>
          <mat-card-title>{{ displayName }}</mat-card-title>
          <span class="reactions">
            <ng-container *ngFor="let reaction of reactions | keyvalue">
              <button mat-icon-button (click)="sendReaction(reaction.key)">
                <mat-icon *ngIf="reaction.value.length > 0" matBadge="{{ reaction.value.length }}"
                  color="{{ reacted[reaction.key] }}" matBadgeSize="small" matTooltip="{{ getList(reaction.key) }}"
                  matTooltipPosition="above">
                  {{ reaction.key }}
                </mat-icon>
                <mat-icon *ngIf="reaction.value.length == 0">
                  {{ reaction.key }}
                </mat-icon>
              </button>
            </ng-container>
          </span>
        </mat-card-header>



        <img *ngIf="image !== null" mat-card-image src="{{ image }}">
        <h2>Current Poll Results:</h2>
        <h3>{{pollInfo.question}}</h3>
        <div *ngFor="let response of pollInfo.responses; let i = index">
          <div *ngIf="response.count>1">{{response.content}} has {{response.count}} votes!</div>
          <div *ngIf="response.count==1">{{response.content}} has {{response.count}} vote!</div>
          <div *ngIf="response.count==0">{{response.content}} has no votes!</div>
        </div>
        <br>
        <mat-card-content>This poll expires {{ displayPollExpiration }}</mat-card-content>
        <mat-card-footer>{{ displayTime }}
          <button mat-icon-button (click)="reportMessage()">
            <mat-icon *ngIf="accountType>=2" id="report" [ngStyle]="{'color':'red'}" [inline]="true" aria-hidden="false"
              aria-label="report" matTooltip="Report Message">flag</mat-icon>
            <mat-icon *ngIf="accountType<2" id="report" [ngStyle]="{'color':'red'}" [inline]="true" aria-hidden="false"
              aria-label="report" matTooltip="Delete Message">delete_forever</mat-icon>
          </button>
        </mat-card-footer>
      </mat-card>
    </div>

    <!-- If poll has not expired, and the user has not answered -->
    <div *ngIf="pollInfo.users.includes(user.email)==false && currentTime-formSubmissionTime<86400000">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar [ngStyle]="{ 'background-image': 'url(' + avatar + ')', 'background-size': 'cover' }">
          </div>
          <mat-card-title>{{ displayName }}</mat-card-title>
          <span class="reactions">
            <ng-container *ngFor="let reaction of reactions | keyvalue">
              <button mat-icon-button (click)="sendReaction(reaction.key)">
                <mat-icon *ngIf="reaction.value.length > 0" matBadge="{{ reaction.value.length }}"
                  color="{{ reacted[reaction.key] }}" matBadgeSize="small" matTooltip="{{ getList(reaction.key) }}"
                  matTooltipPosition="above">
                  {{ reaction.key }}
                </mat-icon>
                <mat-icon *ngIf="reaction.value.length == 0">
                  {{ reaction.key }}
                </mat-icon>
              </button>
            </ng-container>
          </span>
        </mat-card-header>



        <img *ngIf="image !== null" mat-card-image src="{{ image }}">
        <h2>{{pollInfo.question}}</h2>
        <form #pollForm="ngForm" (submit)="formResponse(pollForm)">
          <mat-radio-group class="radio-group" [(ngModel)]="pollResponse" name="response">
            <mat-radio-button *ngFor="let response of pollInfo.responses; let i = index" [value]="i" name="{{i}}">
              {{response.content}}
            </mat-radio-button>
          </mat-radio-group>
          <button mat-raised-button color="accent" type="submit">Vote!</button>
        </form>
        <br>
        <mat-card-content>This poll expires at {{ displayPollExpiration }}</mat-card-content>
        <mat-card-footer>{{ displayTime }}
          <button mat-icon-button (click)="reportMessage()">
            <mat-icon *ngIf="accountType>=2" id="report" [ngStyle]="{'color':'red'}" [inline]="true" aria-hidden="false"
              aria-label="report" matTooltip="Report Message">flag</mat-icon>
            <mat-icon *ngIf="accountType<2" id="report" [ngStyle]="{'color':'red'}" [inline]="true" aria-hidden="false"
              aria-label="report" matTooltip="Delete Message">delete_forever</mat-icon>
          </button>
        </mat-card-footer>
      </mat-card>
    </div>


  </div>
</div>
