<div>
  <button (click)="showCreateRezziComponent()" mat-raised-button>Create Rezzi</button>
  <button (click)="showInviteUsersComponent()" mat-raised-button>Invite Users</button>
  <button (click)="showNotificationsComponent()" mat-raised-button>Notifications</button>
  <button (click)="showUserManagementComponent()" mat-raised-button>User Management</button>
  <button (click)="showMoveUsersComponent()" mat-raised-button>Move Residents</button>
</div>
<br>
<div>
  <p *ngIf="showCreateRezzi"><app-create-rezzi></app-create-rezzi></p>
  <p *ngIf="showInviteUsers"><app-invite-users></app-invite-users></p>
  <p *ngIf="showhdNotifications"><app-hd-notifications></app-hd-notifications></p>
  <p *ngIf="showUserManagement"><app-user-management></app-user-management></p>
  <p *ngIf="showMoveUsers"><app-move-users></app-move-users></p>
</div>
