<!-- <mat-drawer-container class="edit-profile-form-container" autosize> -->
<form class="edit-profile-form">

  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="full-width">
          <mat-label>First Name</mat-label>
          <input matInput required>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="full-width">
          <mat-label>Last Name</mat-label>
          <input matInput required>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="full-width">
          <mat-label>Nickname</mat-label>
          <input matInput>
        </mat-form-field>
      </td>
    </tr>
  </table>

  <table class="full-width" cellspacing="0">
    <mat-form-field class="full-width">
      <mat-label></mat-label>
      <textarea matInput required>example@me</textarea>
    </mat-form-field>
  </table>


  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="full-width">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password" required>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="full-width">
          <mat-label>Confirm Password</mat-label>
          <input matInput placeholder="Re-type password" required>
        </mat-form-field>
      </td>
    </tr>
  </table>
</form>
<!-- </mat-drawer-container> -->

<!-- First Name: <input id="first_name" type="text" name="first_name" placeholder="First name" required>
Last Name: <input id="last_name" type="text" name="last_name" [value]="'Test'" required>
Email: <input id="email" type="email" name="email" placeholder="example@email.com" required>
Password: <input id="password" type="password" name="password" placeholder="Password" required>
Confirm Password: <input id="confirm_password" type="password" name="confirm_password" placeholder="Re-type password"
  required> -->
<div class="container-fluid">
  <div class="example-form">
    <mat-card color="primary">
      <form (submit)="onEditProfile(editProfileForm)" #editProfileForm="ngForm">

        <mat-form-field class="example-full-width">
          <mat-label>First Name</mat-label>
          <input [(ngModel)]="theUser.firstName" matInput type="text" placeholder="First Name" name="firstName" ngModel
            required>
          <!-- {{theUser.firstName}} -->
          <mat-error>Please enter a valid first name (Alpha only)</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input [(ngModel)]="theUser.lastName" matInput type="text" placeholder="Last Name" ngModel name="lastName"
            required>
          <mat-error>Please enter a valid last name (Alpha only)</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input [(ngModel)]="theUser.nickName" matInput type="text" placeholder="Preferred Name" ngModel
            name="nickName">

        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input [(ngModel)]="theUser.password" matInput placeholder="Enter your password"
            [type]="hide ? 'password' : 'text'" name="password" ngModel minlength="8" #password="ngModel" required>

          <mat-error *ngIf="password.invalid">Your password must be 8 characters long</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Confirm Password" [type]="hide ? 'password' : 'text'" name="confirmPassword"
            ngModel minlength="8" required #confirmPassword="ngModel">
          <mat-error *ngIf="password !== confirmPassword">Your passwords must match!</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input [(ngModel)]="theUser.age" matInput type="text" placeholder="Age" ngModel name="age"
            pattern="[0-9][0-9]" required>
          <mat-error>Please enter a valid age</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input [(ngModel)]="theUser.major" matInput type="text" placeholder="Major" ngModel name="major" required>
        </mat-form-field>
        <mat-form-field class="example-full-width" hintLabel="Max 100 characters">
          <textarea [(ngModel)]="theUser.bio" matInput rows="2" placeholder="Bio" ngModel name="bio" #bio
            maxlength="100" required>
        </textarea>
          <mat-hint>{{bio.value?.length || 0}}/100</mat-hint>
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit">Edit Profile</button>
      </form>
    </mat-card>
  </div>
</div>
