<div class="edit-profile-form">
  <br>
  <mat-card color="primary">
    <mat-card-title>My Profile</mat-card-title>
    <mat-card-subtitle> </mat-card-subtitle>
      <picture>
        <source media='(max-width:200px)' srcset="{{this.thePic}}">
        <img mat-card-image src="{{this.thePic}}" alt="Profile Image">
      </picture>
      <br>
      <mat-card-subtitle>Change profile photo</mat-card-subtitle>
      <div class="rowUploadSection" id="picUpload">
        <div id="upload_button">
          <label>
            <input type="file" (change)="onPictureSelected($event)" accept="image/*">
            <span class="mat-raised-button" style="background-color: #607d8b;">1. Choose photo</span>
          </label>
        </div>
        <div style="padding-left: 15px;  padding-bottom: 20px;">
          <button mat-raised-button color="accent" (click)="onUpload('image')"> 2. Upload</button></div>
        <div *ngIf="duringUpload==true"><img style="max-width: 30px;"
            src="https://firebasestorage.googleapis.com/v0/b/rezzi-33137.appspot.com/o/uploaded-images%2Fgiphy.gif?alt=media&token=49354b47-d75b-4315-ab1e-1a52dd664f53"
            alt="Image is uploading...">
        </div>
      </div>
      <!-- <div class="rowUploadSection">
        <p class = "up"> Upload new profile photo</p>
        <input class = "up" type="file" accept="image/*" (change)="onPictureSelected($event)">
        <div >
          <button  class = "up" (click)="onUpload('image')"> Upload</button>
          </div>
          <div class = "up"> <img *ngIf="duringUpload==true"style="max-width: 30px;" src="https://firebasestorage.googleapis.com/v0/b/rezzi-33137.appspot.com/o/uploaded-images%2Fgiphy.gif?alt=media&token=49354b47-d75b-4315-ab1e-1a52dd664f53" alt="Image is uploading..."></div>

      </div> -->
    <form (submit)="onEditProfile(editProfileForm)" #editProfileForm="ngForm">

      <mat-form-field class="example-full-width">
        <mat-label>First Name</mat-label>
        <input [(ngModel)]="this.theUser.firstName" matInput type="text" placeholder="First Name" name="firstName"
          ngModel required>
        <mat-error>Please enter a valid first name (Alpha only)</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input [(ngModel)]="this.theUser.lastName" matInput type="text" placeholder="Last Name" ngModel name="lastName"
          required>
        <mat-error>Please enter a valid last name (Alpha only)</mat-error>
      </mat-form-field>



      <mat-form-field class="example-full-width">
        <input [(ngModel)]="this.theUser.nickName" matInput type="text" placeholder="Preferred Name" ngModel
          name="nickName">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input [(ngModel)]="this.theUser.age" matInput type="text" placeholder="Age" ngModel name="age"
          pattern="[0-9][0-9]" required>
        <mat-error>Please enter a valid age</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input [(ngModel)]="this.theUser.major" matInput type="text" placeholder="Major" ngModel name="major" required>
      </mat-form-field>
      <mat-form-field class="example-full-width" hintLabel="Max 100 characters">
        <textarea [(ngModel)]="this.theUser.bio" matInput rows="2" placeholder="Bio" ngModel name="bio" #bio
          maxlength="100" required>
        </textarea>
        <mat-hint>{{bio.value?.length || 0}}/100</mat-hint>
      </mat-form-field>
      <br>
      <br>
      <button mat-raised-button color="primary" type="submit">Edit Profile</button>
      <br>


    </form>

    <form (submit)="onEditPassword(editPasswordForm)" #editPasswordForm="ngForm">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" name="password" ngModel
          minlength="8" #password="ngModel" required>

        <mat-error *ngIf="password.invalid">Your password must be 8 characters long</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Confirm Password" [type]="hide ? 'password' : 'text'" name="confirmPassword"
          ngModel minlength="8" required #confirmPassword="ngModel">
        <mat-error *ngIf="password !== confirmPassword">Your passwords must match!</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Edit Password</button>
    </form>
    <br>

    <button mat-raised-button color="accent" (click)="ondeletionRequest()">Request to Delete Account</button>

  </mat-card>
  <br>
  <br>


</div>
