<div class="container-fluid">
    <h2 style="text-align: center;">Notifications</h2>

    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Channel Name
            </mat-panel-title>
            <mat-panel-description >
                <button (click)="fakeFuncion()" mat-railed-button> Mute Notificaitons for this Channel </button> 
              </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-card *ngFor="let deletionRequest of deletionRequests" (click)='deleteUser(deletionRequest)'><!-- Looping the deletion requests-->

                {{ deletionRequest }}

            </mat-card>
        </mat-expansion-panel>
      </mat-accordion>

</div>