<mat-card color="primary" class="container" id="info-block-container">
  <mat-card-title>Welcome to Rezzi!</mat-card-title>
  <mat-card-subtitle
    >Tired of being in 10 Slack channels and 7 GroupMe chats? You've come to the
    right place.</mat-card-subtitle
  >
  <mat-card-content
    >We're so excited to have you join the Rezzi community! If this is your
    first time signing in, you will be redirected to a "Sign Up" page. There,
    you can enter more information about yourself, including your first name,
    last name, grade, major, and some fun facts about yourself! You will also
    set up a new password at that time, so you can make it something a little
    more memorable than the random one assigned to you! If you have already
    completed the sign-up process, welcome back! 
  </mat-card-content>
  <mat-card-content
    >If you're experiencing technical difficulties signing in or setting up your
    account for the first time, please contact your RA for assistance.</mat-card-content
  >
</mat-card>
