.example-container {
  width: 100%;
  height: calc(100% - 64px);  /* mat-tool-bar is 64 px */
  position: fixed;
}

.example-sidenav {
  padding: 20px;
  width: 30%;
}

.hambutton{
  position: absolute;
  top: 12px;
  left: 8px;
  font-size: 25px;
}

.channelnavbar {
  position: relative;
}
