.example-container {
  width: 95%;
  height: 80%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin: auto;
}



.example-sidenav {
  padding: 20px;
  width: 30%;
}

.hambutton{
  position: absolute;
  top: 12px;
  left: 8px;
  font-size: 25px;
}
