<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" disableClose="true" opened="true">  <!-- Stuff in sidebar -->
    <app-side-panel
      [sessionUpdateEvent]="sessionUpdateSubject.asObservable()"
      [abbrevUserUpdateEvent]="abbrevUserUpdateSubject.asObservable()"
      (channelsToSend)="receivedChannels($event)"
      (channelToView)="viewingNewChannel($event)"
    ></app-side-panel>
  </mat-drawer>

  <div class="example-sidenav-content"> <!-- Stuff in rest of interface -->
    <app-channel-nav-bar class="channelnavbar"
      [sessionUpdateEvent]="sessionUpdateSubject.asObservable()"
      [abbrevUserUpdateEvent]="abbrevUserUpdateSubject.asObservable()"
      [viewingObs]="viewingUpdateSubject.asObservable()"
    ></app-channel-nav-bar>
    <button class="hambutton" type="button" mat-button (click)="drawer.toggle()">
      ≡
    </button>
    <app-mute-members
      [isHiddenObs]="viewMuteMemSubj.asObservable()"
      [viewingObs]="viewingUpdateSubject.asObservable()"
    ></app-mute-members>
    <app-view-members
      [isHiddenObs]="viewViewMemSubj.asObservable()"
      [viewingObs]="viewingUpdateSubject.asObservable()"
    ></app-view-members>
    <app-channel-messages
      [isHiddenObs]="viewChanMesSubj.asObservable()"
      [isMutedObs]="hideNewMsgSubj.asObservable()"
      [sessionUpdateEvent]="sessionUpdateSubject.asObservable()"
      [channelsUpdateEvent]="channelsUpdateSubject.asObservable()"
      [viewingUpdateEvent]="viewingUpdateSubject.asObservable()"
      [abbrevUserUpdateEvent]="abbrevUserUpdateSubject.asObservable()"
      [canPostUpdateEvent]="canPostUpdate.asObservable()"
    ></app-channel-messages>
    <app-calendar-panel
      [isHiddenObs]="viewCalSubj.asObservable()"
      [viewingObs]="viewingUpdateSubject.asObservable()">
    </app-calendar-panel>
    <app-new-message id="newMessageBar"
      [isHiddenObs]="viewChanMesSubj.asObservable()"
      [isMutedObs]="hideNewMsgSubj.asObservable()"
      [sessionUpdateEventAnm]="sessionUpdateSubject.asObservable()"
      [abbrevUserUpdateEvent]="abbrevUserUpdateSubject.asObservable()"
      [viewingUpdateEventAnm]="viewingUpdateSubject.asObservable()"
      [canPostUpdateEvent]="canPostUpdate.asObservable()"
    ></app-new-message>
  </div>
</mat-drawer-container>
