<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" disableClose="true" opened="true">  <!-- Stuff in sidebar -->
    <p>Third Street Suites</p> <!-- TODO: dynamically add res hall name here -->
    <app-side-panel></app-side-panel>
  </mat-drawer>

  <div class="example-sidenav-content"> <!-- Stuff in rest of interface -->
    <app-channel-nav-bar class="channelnavbar"></app-channel-nav-bar>
    <button class="hambutton" type="button" mat-button (click)="drawer.toggle()">
      ≡
    </button>
    <!-- <app-channel-messages [messages]="storedMessages"></app-channel-messages> -->
    <app-new-message (messageCreated) = 'onMessageAdded($event)'></app-new-message>
    <div>
      <app-channel-nav-bar></app-channel-nav-bar>
    </div>
  </div>
</mat-drawer-container>
